<md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">

	<md-tab label = "Personal Details & Education">
		<form name="AddResumeForm">
			<div layout="row" layout-xs="column" layout-margin  class="resume-form" >
				<div flex>
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">PERSONAL DETAILS</div>
							</md-toolbar>
							<md-input-container md-no-float class="md-block">
								<md-icon><ng-md-icon icon="add_a_photo" ></ng-md-icon></md-icon>
								<input ng-model="$ctrl.resume.photo" type="file" placeholder="Upload Photo">
							</md-input-container>
							<div class="row">
							  <div class="col-md-6 input-row">
								<md-input-container class="md-block">                      
									<input ng-model="$ctrl.resume.firstname" type="text" placeholder="First Name (required)" ng-required="true">
								</md-input-container>
							  </div>
							  <div class="col-md-6 input-row">
								<md-input-container class="md-block">
									<input ng-model="$ctrl.resume.lastname" type="text" placeholder="Last Name (required)" ng-required="true">
								</md-input-container>
							  </div>
							</div>
							
							<div class="row">
							  <div class="col-md-6 input-row">
								<md-input-container class="md-block">
									<label>Gender</label>
									<md-select name="type" ng-model="$ctrl.resume.gender" ng-required="true">
										<md-option value="M">Male</md-option>
										<md-option value="F">Female</md-option>
									</md-select>
								</md-input-container>
							  </div>
							  <div class="col-md-6 input-row">								
									<label>Date of Birth</label>
									<md-datepicker ng-model="$ctrl.resume.birthdate" md-min-date="$ctrl.resume.minDate" md-max-date="$ctrl.resume.maxDate"></md-datepicker>								
							  </div>
							</div>

							<md-input-container class="md-block">
								<label>Country of Birth</label>
								<md-select name="type" ng-model="$ctrl.resume.countryofbirth" ng-required="true">
									<md-option value="1">Germany</md-option>
								</md-select>
							</md-input-container>

							<md-input-container class="md-block">
								<label>Marital Status</label>
								<md-select name="type" ng-model="$ctrl.resume.marital" ng-required="true">
									<md-option value="S">Single</md-option>
									<md-option value="M">Married</md-option>
									<md-option value="D">Divorced</md-option>
								</md-select>
							</md-input-container>

							<md-input-container class="md-block">
								<label>Language</label>
								<md-select name="type" ng-model="$ctrl.resume.language" ng-required="true">
									<md-option value="1">Deutsch</md-option>
								</md-select>
							</md-input-container>

						</md-card-content>
					</md-card>
				</div>
				<div flex>
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">EDUCATION</div>
							</md-toolbar>							
							<md-input-container class="md-block">
								<input ng-model="$ctrl.education.schoolName_0" type="text" placeholder="School Name" ng-required="true">
							</md-input-container>

							<md-input-container class="md-block">
								<label>Degree</label>
								<md-select name="type" ng-model="$ctrl.education.schoolDegree_0" ng-required="true">
									<md-option value="1">Primary School</md-option>
									<md-option value="2">Secondary School</md-option>
									<md-option value="3">High School</md-option>
									<md-option value="4">Bachelor Degree</md-option>
									<md-option value="5">Master Degree</md-option>
									<md-option value="6">Doctor</md-option>
								</md-select>
							</md-input-container>

							<div class="row">
							  <div class="col-md-6">
								<label>Start Date</label>
								<md-datepicker ng-model="$ctrl.education.startDate" md-placeholder="From" md-min-date="$ctrl.resume.minDate" md-max-date="$ctrl.resume.maxDate"></md-datepicker>
							  </div>

							  <div class="col-md-6">
								<label>End Date</label>
								<md-datepicker ng-model="$ctrl.education.endDate" md-placeholder="To" md-min-date="$ctrl.resume.minDate" md-max-date="$ctrl.resume.maxDate"></md-datepicker>
							  </div>
							</div>							

							<md-input-container class="md-block">
								<label>Description</label>
								<textarea ng-model="$ctrl.education.schoolDescription" md-maxlength="150" rows="3" md-select-on-focus></textarea>
							</md-input-container>

						</md-card-content>
						<md-button class="button-add">Add More Education</md-button>
					</md-card>
				</div>
			</div>
			<div layout="row" layout-align="end center">
				<md-button ng-disabled="!AddResumeForm.$valid" ng-click="$ctrl.submit()" class="md-raised md-primary">&nbsp Save & Next &nbsp</md-button>
			</div>
		</form>
	</md-tab>
	<md-tab label="Additional Information">
			<div layout="row" layout-xs="column" layout-margin  class="resume-form" >
				<div flex>
					<form class= "resume-form" name="ExperienceForm">
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">EXPERIENCES</div>
							</md-toolbar>
							<md-list flex>
								<md-subheader class="md-no-sticky">Previous Jobs</md-subheader>
								<md-list-item class="md-2-line" ng-repeat="refugeeExperience in $ctrl.experiences">
									<div class="md-list-item-text" layout="column">
										<h3>{{ refugeeExperience.company }}</h3>
										<p>({{ refugeeExperience.startDate }} - {{ refugeeExperience.endDate }})</p>
										<h4>{{ refugeeExperience.jobTitle }}</h4>
										<h4>{{ refugeeExperience.jobDescription }}</h4>
									</div>
									<md-divider></md-divider>
								</md-list-item>
							</md-list>
							<md-input-container class="md-block">
								<input ng-model="$ctrl.experience.company" type="text" placeholder="Company Name" ng-required="true">
							</md-input-container>

							<md-input-container class="md-block">
								<label>Company Location</label>
								<md-select name="type" ng-model="$ctrl.experience.companyLocation" ng-required="true">
									<md-option value="1">Germany</md-option>
								</md-select>
							</md-input-container>

							<md-input-container class="md-block">
								<input ng-model="$ctrl.experience.jobTitle" type="text" placeholder="Title" ng-required="true">
							</md-input-container>

							<div class="row">
							  <div class="col-md-6">
								<label>Start Date</label>
								<md-datepicker ng-model="$ctrl.experience.startDate" md-placeholder="Start Date" md-max-date="$ctrl.maxStartDate" ng-required="true"></md-datepicker>
							  </div>

							  <div class="col-md-6">
								<label>End Date</label>
								<md-datepicker ng-model="$ctrl.experience.endDate" md-placeholder="End Date" md-max-date="$ctrl.maxEndDate" ng-required="true"></md-datepicker>
							  </div>
							</div>

							<md-input-container class="md-block">
								<label>Job Description</label>
								<textarea ng-model="$ctrl.experience.jobDescription" md-maxlength="150" rows="3" md-select-on-focus></textarea>								
							</md-input-container>

						</md-card-content>
						<md-button class="button-add" ng-disabled="!ExperienceForm.$valid" ng-click="$ctrl.addExperience()">Add More Experience</md-button>
					</md-card>
					</form>
				</div>
				<div flex>
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">CERTIFICATIONS</div>
							</md-toolbar>

							<md-input-container class="md-block">
								<input ng-model="$ctrl.certification.title" type="text" placeholder="Title" ng-required="true">
							</md-input-container>

							<div class="row">
							  <div class="col-md-6">
								<md-datepicker ng-model="$ctrl.certification.startDate" md-placeholder="Start Date" md-min-date="$ctrl.resume.minDate" md-max-date="$ctrl.resume.maxDate"></md-datepicker>
							  </div>

							  <div class="col-md-6">
								<md-datepicker ng-model="$ctrl.certification.endDate" md-placeholder="End Date" md-min-date="$ctrl.resume.minDate" md-max-date="$ctrl.resume.maxDate"></md-datepicker>
							  </div>
							</div>
							
							<md-input-container md-no-float class="md-block">
								<md-icon><ng-md-icon icon="add_a_photo" ></ng-md-icon></md-icon>
								<input ng-model="$ctrl.certificate.photo" type="file" placeholder="Upload Photo">
							</md-input-container>

						</md-card-content>
						<md-button class="button-add">Add More Certification</md-button>
					</md-card>
				
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">SKILLS</div>
							</md-toolbar>
							<md-input-container class="md-block">
								<input ng-model="$ctrl.skill.type" type="text" placeholder="Skill Type" ng-required="true">
							</md-input-container>

							Power
							<div layout>
							  <md-slider flex class="md-warn" md-discrete ng-model="$ctrl.skill.power" step="1" min="1" max="10" aria-label="rating"></md-slider>
							</div>

						</md-card-content>

						<md-button class="button-add">Add More Skills</md-button>
					</md-card>
				</div>
			</div>
			<div layout="row" layout-align="end center">
				<md-button ng-click="$ctrl.submit()" class="md-raised md-primary">&nbsp Save &nbsp</md-button>
				<md-button ng-click="$ctrl.download()" class="md-raised md-primary">&nbsp Download &nbsp</md-button>
			</div>

	</md-tab>
</md-tabs>