<md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
	<md-tab label = "Personal Details & Education">
		<div layout="row" layout-xs="column" layout-margin>
			<div flex>
				<form class= "resume-form" name="PersonalInformationForm">
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">PERSONAL DETAILS</div>
							</md-toolbar>
							
							<md-input-container class="md-block">
								<input ng-model="$ctrl.refugee.photo" type="text" placeholder="Profile Picture Link (aspect ratio 4:5)" ng-required="true">
							</md-input-container>

							<md-input-container class="md-block">
								<input ng-model="$ctrl.refugee.name" type="text" placeholder="Full Name" ng-required="true">
							</md-input-container>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Gender</label>
									<md-select name="type" ng-model="$ctrl.refugee.gender" ng-required="true">
										<md-option value="male">Male</md-option>
										<md-option value="female">Female</md-option>
										<md-option value="other">Other</md-option>
									</md-select>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Date of Birth</label>
									<md-datepicker ng-model="$ctrl.refugee.dateOfBirth" md-max-date="$ctrl.maxStartDate" md-max-date="$ctrl.minStartDate" ng-reqired="true"></md-datepicker>
								</md-input-container>
							</div>

							<md-input-container class="md-block">
								<label>Country of Birth</label>
								<md-select name="type" ng-model="$ctrl.refugee.placeOfBirth" ng-required="true">
									<md-option ng-repeat="countriesList in $ctrl.countriesList" value="{{ countriesList._id }}">
										  {{ countriesList.name }}
									</md-option>
								</md-select>
							</md-input-container>

							<md-input-container md-no-float class="md-block">
								<label>Address</label>
								<input ng-model="$ctrl.refugee.address" type="text" ng-required="true">
							</md-input-container>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>City</label>
									<md-select name="type" ng-model="$ctrl.refugee.city" ng-required="true">
										<md-option ng-repeat="cities in $ctrl.cities" value="{{ cities._id }}">
											  {{ cities.name }}
										</md-option>
									</md-select>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Postal Code</label>
									<input name="postalCode" ng-model="$ctrl.refugee.postalCode"
										   ng-required="true" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

									<div ng-messages="PersonalInformationForm.postalCode.$error" role="alert" multiple>
										<div ng-message="required" class="my-message">You must supply a postal code.</div>
										<div ng-message="pattern" class="my-message">That doesn't look like a valid postal
											code
										</div>
										<div ng-message="md-maxlength" class="my-message">
											Too long
										</div>
									</div>
								</md-input-container>
							</div>

							<md-input-container md-no-float class="md-block">
								<label>Phone Number</label>
								<input name="phoneNumber" ng-model="$ctrl.refugee.phone">
							</md-input-container>

							<md-input-container md-no-float class="md-block">
								<label>Email</label>
								<input  name="email" ng-model="$ctrl.refugee.email" ng-pattern="/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/">

								<div ng-messages="PersonalInformationForm.email.$error" role="alert">
									<div ng-message="pattern" class="my-message">That doesn't look like a valid email
									</div>
								</div>
							</md-input-container>

							<md-input-container class="md-block">
								<label>Marital Status</label>
								<md-select name="type" ng-model="$ctrl.refugee.maritalStatus">
									<md-option value="single">Single</md-option>
									<md-option value="married">Married</md-option>
									<md-option value="divorced">Divorced</md-option>
								</md-select>
							</md-input-container>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Language</label>
									<md-select name="type" ng-model="$ctrl.language" ng-required="true">
										<md-option ng-repeat="languagesList in $ctrl.languagesList" value="{{ languagesList._id }}">
											  {{ languagesList.name }}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
									<md-button class="button-add" ng-click="$ctrl.addLanguage()">Add</md-button>
								</md-input-container>
							</div>
							
							<div layout-gt-sm="row">
								<ul class="list-inline">
									<li ng-repeat="refugeeLang in $ctrl.languages"> 
										{{ refugeeLang.nameAlias }} 
										<md-button class="md-small button-delete-small" ng-click="$ctrl.removeLanguage(refugeeLang)">
											<md-icon class="icon-delete"><ng-md-icon icon="delete_forever" ></ng-md-icon></md-icon>
										</md-button>
									</li>
								</ul>
							</div>
							<md-input-container class="md-block">
								<label>Description</label>
								<textarea ng-model="$ctrl.refugee.description" md-maxlength="400" rows="3" md-select-on-focus></textarea>
							</md-input-container>

						</md-card-content>
					</md-card>
				</form>
			</div>
			<div flex>
				<form class= "resume-form" name="EducationForm">
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">EDUCATION</div>
							</md-toolbar>
							<md-list flex>
								<md-subheader class="md-no-sticky">Added Educations</md-subheader>
								<md-list-item class="md-3-line" ng-repeat="refugeeEducation in $ctrl.educations">
									<div class="secondary-button-padding" layout="column">
										<h3>{{ refugeeEducation.school }} - {{ refugeeEducation.degree }}</h3>
										<p>({{ refugeeEducation.from | date:'mediumDate' }} - {{ refugeeEducation.to | date:'mediumDate' }})</p>
										<md-button class="md-secondary button-delete" ng-click="$ctrl.removeEducation(refugeeEducation)">Delete</md-button>
									</div>
									<md-divider></md-divider>
								</md-list-item>
							</md-list>
							<md-input-container class="md-block">
								<input ng-model="$ctrl.education.school" type="text" placeholder="School Name" ng-required="true">
							</md-input-container>

							<md-input-container class="md-block">
								<label>Degree</label>
								<md-select name="type" ng-model="$ctrl.education.degree" ng-required="true">
									<md-option value="Primary School">Primary School</md-option>
									<md-option value="Secondary School">Secondary School</md-option>
									<md-option value="High School">High School</md-option>
									<md-option value="Bachelor Degree">Bachelor Degree</md-option>
									<md-option value="Master Degree">Master Degree</md-option>
									<md-option value="Doctor">Doctor</md-option>
								</md-select>
							</md-input-container>

							<md-input-container class="md-block">
								<input ng-model="$ctrl.education.fieldOfStudy" type="text" placeholder="Field of study">
							</md-input-container>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Start Date</label>
									<md-datepicker ng-model="$ctrl.education.from" md-min-date="$ctrl.minStartDate" md-max-date="$ctrl.maxStartDate" ng-required="true"></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>End Date</label>
									<md-datepicker ng-model="$ctrl.education.to" md-min-date="$ctrl.minEndDate" md-max-date="$ctrl.maxEndDate" ng-required="true"></md-datepicker>
								</md-input-container>
							</div>

							<md-input-container class="md-block">
								<label>Description</label>
								<textarea ng-model="$ctrl.education.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
							</md-input-container>

						</md-card-content>
						<md-button class="button-add" ng-disabled="!EducationForm.$valid" ng-click="$ctrl.addEducation()">Add Education</md-button>
					</md-card>
				</form>
			</div>
		</div>
		<div layout="row" layout-align="end center">
			<md-button ng-click="$ctrl.save()" class="md-raised md-primary">&nbsp Save &nbsp</md-button>
		</div>
	</md-tab>
	<md-tab label="Additional Information">
		<div layout="row" layout-xs="column" layout-margin>
			<div flex>
				<form class= "resume-form" name="ExperienceForm">
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">EXPERIENCES</div>
							</md-toolbar>
							<md-list flex>
								<md-subheader class="md-no-sticky">Added Jobs</md-subheader>
								<md-list-item class="md-3-line" ng-repeat="refugeeExperience in $ctrl.experiences">
									<div class="secondary-button-padding" layout="column">
										<h3>{{ refugeeExperience.companyName }}</h3>
										<p>({{ refugeeExperience.from | date:'mediumDate'}} - {{ refugeeExperience.to | date:'mediumDate' }})</p>
										<h4>{{ refugeeExperience.title }}</h4>
										<md-button class="md-secondary button-delete" ng-click="$ctrl.removeExperience(refugeeExperience)">Delete</md-button>
									</div>
									<md-divider></md-divider>
								</md-list-item>
							</md-list>
							<md-input-container class="md-block">
								<input ng-model="$ctrl.experience.companyName" type="text" placeholder="Company Name" ng-required="true">
							</md-input-container>

							<md-input-container class="md-block">
								<label>Company Location</label>
								<md-select name="type" ng-model="$ctrl.experience.companyLocation" ng-required="true">
									<md-option ng-repeat="countriesList in $ctrl.countriesList" value="{{ countriesList._id }}">
										  {{ countriesList.name }}
									</md-option>
								</md-select>							
							</md-input-container>

							<md-input-container class="md-block">
								<input ng-model="$ctrl.experience.title" type="text" placeholder="Title" ng-required="true">
							</md-input-container>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Start Date</label>
									<md-datepicker ng-model="$ctrl.experience.from" md-min-date="$ctrl.minStartDate" md-max-date="$ctrl.maxStartDate" ng-required="true"></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>End Date</label>
									<md-datepicker ng-model="$ctrl.experience.to" md-min-date="$ctrl.minEndDate" md-max-date="$ctrl.maxEndDate" ng-required="true"></md-datepicker>
								</md-input-container>
							</div>

							<md-input-container class="md-block">
								<label>Job Description</label>
								<textarea ng-model="$ctrl.experience.description" md-maxlength="150" rows="3" md-select-on-focus></textarea>
							</md-input-container>

						</md-card-content>
						<md-button class="button-add" ng-disabled="!ExperienceForm.$valid" ng-click="$ctrl.addExperience()">Add Experience</md-button>
					</md-card>
				</form>
			</div>
			<div flex>
				<form class= "resume-form" name="CertificateForm">
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">CERTIFICATIONS</div>
							</md-toolbar>
							<md-list flex>
								<md-subheader class="md-no-sticky">Added Cerficates</md-subheader>
								<md-list-item class="md-3-line" ng-repeat="refugeeCertificate in $ctrl.certificates">
									<div class="secondary-button-padding" layout="column">
										<h3>{{ refugeeCertificate.title }}</h3>
										<p>({{ refugeeCertificate.from | date:'mediumDate' }} - {{ refugeeCertificate.to | date:'mediumDate' }})</p>
										<md-button class="md-secondary button-delete" ng-click="$ctrl.removeCertificate(refugeeCertificate)">Delete</md-button>
									</div>
									<md-divider></md-divider>
								</md-list-item>
							</md-list>

							<md-input-container class="md-block">
								<input ng-model="$ctrl.certificate.title" type="text" placeholder="Title" ng-required="true">
							</md-input-container>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Start Date</label>
									<md-datepicker ng-model="$ctrl.certificate.from"  md-min-date="$ctrl.minStartDate" md-max-date="$ctrl.maxStartDate" ng-required="true"></md-datepicker>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>End Date</label>
									<md-datepicker ng-model="$ctrl.certificate.to" md-min-date="$ctrl.minEndDate" md-max-date="$ctrl.maxEndDate" ng-required="true"></md-datepicker>
								</md-input-container>
							</div>

						</md-card-content>
						<md-button class="button-add" ng-disabled="!CertificateForm.$valid" ng-click="$ctrl.addCertificate()">Add Certification</md-button>
					</md-card>
				</form>

				<form class= "resume-form" name="SkillForm">
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">SKILLS</div>
							</md-toolbar>
							<md-list flex>
								<md-subheader class="md-no-sticky">Added Skills</md-subheader>
								<md-list-item class="md-3-line" ng-repeat="refugeeSkill in $ctrl.skills">
									<div class="secondary-button-padding" layout="column">								
										<h3>{{ refugeeSkill.nameAlias }}</h3>
										<p>{{ refugeeSkill.power }} out of 10</p>
										<md-button class="md-secondary button-delete" ng-click="$ctrl.removeSkill(refugeeSkill)">Delete</md-button>
									</div>
									<md-divider></md-divider>
								</md-list-item>
							</md-list>
							
							<md-input-container class="md-block">
								<label>Skill Type</label>
								<md-select name="type" ng-model="$ctrl.skill.type" ng-required="true">
									<md-option ng-repeat="skillsList in $ctrl.skillsList" value="{{ skillsList._id }}">
										  {{ skillsList.name }}
									</md-option>
								</md-select>
							</md-input-container>
							Power
							<div layout>
								<md-slider flex class="md-warn" md-discrete ng-model="$ctrl.skill.power" step="1" min="1" max="10" aria-label="rating"></md-slider>
							</div>

						</md-card-content>

						<md-button class="button-add" ng-disabled="!SkillForm.$valid" ng-click="$ctrl.addSkill()">Add Skill</md-button>
					</md-card>
				</form>
			</div>
		</div>
		<div layout="row" layout-align="end center">
			<md-button ng-click="$ctrl.save()" class="md-raised md-primary">&nbsp Save &nbsp</md-button>
		</div>

	</md-tab>
</md-tabs>
