.matching-icons .material-icons.md-48 {
    font-size: 48px;
}

.flexitem {
    text-align: center;
}

.matching-card {
    background: #f7f7f7;
    min-height: 250px;
}

.card-title {
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    font-size: 1.75em;
    margin:0px;
    text-align: center;
    color:#4E443C;
}

.card-subtitle {
    text-transform: none;
    margin:0px;
    text-align: center;
}


