<div layout="column" id="popupContainer" ng-cloak>
    <div layout="row" layout-marging layout-padding layout-align="center center">
        <md-input-container>
            <label>Location</label>
            <md-select ng-model="$ctrl.search.location">
                <md-option ng-repeat="location in $ctrl.locations" value="{{location._id}}">
                    {{location.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-if="!$ctrl.isUserRefugee()">
            <label>Age</label>
            <md-select ng-model="$ctrl.search.age">
                <md-option value="18-25">18-25</md-option>
                <md-option value="26-35">26-35</md-option>
                <md-option value="36-45">36-45</md-option>
                <md-option value="46-65">46-65</md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-if="!$ctrl.isUserRefugee()">
            <label>Gender</label>
            <md-select ng-model="$ctrl.search.gender">
                <md-option value="Male">Male</md-option>
                <md-option value="Female">Female</md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-if="$ctrl.isUserRefugee()">
            <label>Industry</label>
            <md-select ng-model="$ctrl.search.industry">
                <md-option ng-repeat="industry in $ctrl.industries" value="{{industry._id}}">
                    {{industry.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Skill</label>
            <md-select ng-model="$ctrl.search.skill">
                <md-option ng-repeat="skill in $ctrl.skills" value="{{skill._id}}">
                    {{skill.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container ng-if="!$ctrl.isUserRefugee()">
            <label>Jobs</label>
            <md-select ng-model="$ctrl.search.job">
                <md-option ng-repeat="jobItem in $ctrl.jobList" value="{{jobItem._id}}">
                    {{jobItem.title}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <md-button class="md-fab md-warn" aria-label="Apply Filter" ng-click="$ctrl.applyFilter()">
                <md-icon class="material-icons md-48"><ng-md-icon icon="filter_list"></ng-md-icon></md-icon>
            </md-button>
        </md-input-container>
    </div>
    <div layout="row" layout-margin>
        <div flex="20" layout="row" class="flexitem" layout-align="end center">
            <md-button aria-label="Cancel" class="md-fab md-warn" ng-click="$ctrl.selectItem('decline', $ctrl.search)">
                <md-icon class="material-icons md-48"><ng-md-icon icon="cancel"></ng-md-icon></md-icon>
            </md-button>
        </div>
        <div flex="70" layout="row" layout-align="center center">
            <md-card class="matching-card" layout-padding flex="auto" ng-if="($ctrl.isUserRefugee() && !$ctrl.jobs.length) || (!$ctrl.isUserRefugee() && !$ctrl.refugees.length)">
                <md-card-title>
                    <md-card-title-text layout="column" layout-align="center center">
                        <span class="md-headline">No Matches Yet</span>
                        <span class="md-subhead">Refine Your Search</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card class="matching-card" layout-padding flex="auto" ng-if="($ctrl.isUserRefugee() && $ctrl.jobs.length && $ctrl.isUndefined($ctrl.job)) || (!$ctrl.isUserRefugee() && $ctrl.refugees.length && $ctrl.isUndefined($ctrl.refugee))">
                <md-card-title>
                    <md-card-title-text layout="column" layout-align="center center">
                        <span class="md-headline">No More Matches</span>
                        <span class="md-subhead">Refine Your Search</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card class="matching-card" layout-padding flex="auto" ng-if="$ctrl.isUserRefugee() && $ctrl.jobs.length && !$ctrl.isUndefined($ctrl.job)">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{$ctrl.job.company.name}}</span>
                        <span class="md-subhead">{{$ctrl.job.company.email}} /  {{$ctrl.job.company.phone}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-l card-media">
                            <img src="./../../images/noimage.jpeg" alt="Refugee Profile Picture"/>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content layout="column" flex="auto">
                    <div flex>
                        <p>
                            {{$ctrl.job.company.info}}
                        </p>
                    </div>
                    <div flex>
                        <p>
                            {{$ctrl.job.description}}
                        </p>
                    </div>
                </md-card-content>
            </md-card>

            <md-card class="matching-card" layout-padding flex="auto" ng-if="!$ctrl.isUserRefugee() && $ctrl.refugees.length && !$ctrl.isUndefined($ctrl.refugee)">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{$ctrl.refugee.name}}</span>
                        <span class="md-subhead">{{$ctrl.refugee.city.name}} / {{$ctrl.refugee.placeOfBirth}} / {{$ctrl.refugee.email}} / {{$ctrl.refugee.age}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-xl card-media">
                            <img src="./../../images/noimage.jpeg" alt="Refugee Profile Picture"/>
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between" flex="auto">
                    <md-list>
                        <md-list-item ng-repeat="skill in $ctrl.refugee.skills">
                            <div layout="row">
                                <div flex>
                                    {{ skill.name.name }}
                                </div>
                                <div flex>
                                    <md-slider-container>
                                        <md-slider flex ng-model="skill.power" ng-disabled="true" md-discrete aria-label="Disabled" ng-readonly="true"></md-slider>
                                    </md-slider-container>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>

        </div>
        <div flex="20" class="flexitem" layout="row" layout-align="start center">
            <md-button aria-label="Check" class="md-fab md-warn" ng-click="$ctrl.selectItem('add', $ctrl.search)">
                <md-icon class="material-icons md-48"><ng-md-icon icon="check"></ng-md-icon></md-icon>
            </md-button>
        </div>
    </div>
</div>
