<md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">

	<md-tab label = "Company Profile">
		<div layout="row" layout-xs="column" layout-margin>
			<div flex>
				<form class= "profile-form" name="CompanyInformationForm">
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">Logo and Cover</div>
							</md-toolbar>
							<md-input-container md-no-float class="md-block">
								<md-icon><ng-md-icon icon="add_a_photo" ></ng-md-icon></md-icon>
								<input ng-model="$ctrl.company.logo" type="file" placeholder="Upload Photo">
								<label>Logo</label>
							</md-input-container>

							<md-input-container md-no-float class="md-block">
								<md-icon><ng-md-icon icon="add_a_photo" ></ng-md-icon></md-icon>
								<input ng-model="$ctrl.company.photo" type="file" placeholder="Upload Photo">
								<label>Cover Picture</label>
							</md-input-container>

							<md-input-container class="md-block">
								<label>Video</label>
								<textarea ng-model="$ctrl.company.video" md-maxlength="150" rows="3" md-select-on-focus></textarea>
							</md-input-container>
							<md-list flex>
								<md-subheader class="md-no-sticky">Added Locations</md-subheader>
								<md-list-item class="md-3-line" ng-repeat="location in $ctrl.company.location">
									<div class="secondary-button-padding" layout="column">
										<p>{{ location.name }}</p>
										<md-button class="md-secondary button-delete" ng-click="$ctrl.removeLocation(location)">Delete</md-button>
									</div>
									<md-divider></md-divider>
								</md-list-item>
							</md-list>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Locations</label>
								<md-select ng-model="$ctrl.addedLocations" multiple="{{false}}">
									<md-option ng-repeat="loc in $ctrl.locations" value="{{ loc._id }}">
										{{loc.name}}
									</md-option>
								</md-select>
							</md-input-container>
							<md-button class="button-add" ng-click="$ctrl.addLocation()">Add Location</md-button>
							<md-list flex>
								<md-subheader class="md-no-sticky">Added Industries</md-subheader>
								<md-list-item class="md-3-line" ng-repeat="industry in $ctrl.company.industry">
									<div class="secondary-button-padding" layout="column">
										<p>{{ industry.name }}</p>
										<md-button class="md-secondary button-delete" ng-click="$ctrl.removeIndustry(industry)">Delete</md-button>
									</div>
									<md-divider></md-divider>
								</md-list-item>
							</md-list>
							<md-divider></md-divider>
							<md-input-container class="md-block" flex-gt-sm>
								<label>Industries</label>
								<md-select ng-model="$ctrl.addedIndustries" multiple="{{false}}">
									<md-option ng-repeat="ind in $ctrl.industries" value="{{ ind._id }}">
										{{ind.name}}
									</md-option>
								</md-select>
							</md-input-container>
							<md-button class="button-add" ng-click="$ctrl.addIndustry()">Add Industry</md-button>
						</md-card-content>
					</md-card>
				</form>
			</div>
			<div flex>
				<form class= "profile-form" name="InformationForm">
					<md-card>
						<md-card-content>
							<md-toolbar md-scroll-shrink>
								<div class="md-toolbar-tools">Information</div>
							</md-toolbar>

							<md-input-container md-no-float class="md-block">
								<input ng-model="$ctrl.company.name" type="text" placeholder="Company Name" ng-required="true">
							</md-input-container>

							<md-input-container md-no-float class="md-block">
								<label>About Company</label>
								<textarea ng-model="$ctrl.company.info" md-maxlength="150" rows="3" md-select-on-focus></textarea>
							</md-input-container>

							<md-input-container md-no-float class="md-block">
								<label>Phone Number</label>
								<input name="phoneNumber" ng-model="$ctrl.company.phone">
							</md-input-container>

						</md-card-content>
					</md-card>
				</form>
			</div>
		</div>
		<div layout="row" layout-align="end center">
			<md-button ng-click="$ctrl.save()" class="md-raised md-primary">&nbsp Save &nbsp</md-button>
		</div>
	</md-tab>
	<div layout="column" layout-align="center center" class="md-padding">
		<span id="left"></span>
	</div>
</md-tabs>
