<!--<md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">-->

<div layout="column" layout-gt-sm="row"  layout-margin>

        <md-card flex>
            <md-card-content>
                <md-toolbar md-scroll-shrink>
                    <div class="md-toolbar-tools">My Jobs </div>
                </md-toolbar>
                <md-list flex>
                    <!--<md-subheader class="md-no-sticky">Added Skills</md-subheader>-->
                    <md-list-item class="md-3-line" ng-repeat="jobitem in $ctrl.jobs" ng-click="$ctrl.goToJob(jobitem)">
                        <div class="secondary-button-padding" layout="column">
                            <h3>{{ jobitem.title }}</h3>
                            <p>{{ jobitem.startDate | date }}</p>
                        </div>
                        <md-button class="md-secondary button-delete" ng-click="$ctrl.deleteJob(jobitem)">Delete</md-button>
                        <!--<md-divider></md-divider>-->
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>


</div>
<div layout="row" layout-align="end center">
    <md-button ng-click="$ctrl.addJob()" class="md-raised md-primary">&nbsp New &nbsp</md-button>
</div>
<!--</md-tabs>-->
