<md-card>
	<md-card-content class="matches-view">
		<md-toolbar md-scroll-shrink>
			<div class="md-toolbar-tools">MATCHED {{ $ctrl.matchTitle }}</div>
		</md-toolbar>
		<md-list-item class="md-2-line" ng-repeat="matched in $ctrl.matched" ng-click="$ctrl.gotoJob('{{ matched._id }}')">
			<img ng-src="{{matched.image}}" class="md-avatar" />
			<div class="md-list-item-text notification-details">
				<h3>{{ matched.name }}</h3>
				<p>{{ matched.description }}</p>
				<div class="view-more">
					<p><a ng-href="/job/{{ matched._id }}">More</a></p>
				</div>
			</div>
			
		</md-list-item>
	</md-card-content>
</md-card>

