<div layout="column" layout-padding="" ng-cloak>
    <span flex="20"></span>
    <md-content class="view-resume" layout="row" flex="35">
        <span flex="10"></span>
        <md-card flex="80">
            <md-card-content>
            <div class="row">
				<div class="col-md-3 left-container">					
					<div class="profile-picture">
						<img src="./../../images/noimage.jpeg" alt="Refugee Profile Picture" />
					</div>
				</div>
				<div class="col-md-9 name-container">
					<div>REFUGEE NAME</div>
					<div class="title">TITLE</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 left-container">
					<div class="titles">CONTACT</div>
					+49 171 55 888 99
					refugee@workforce.com
					Boltmanstrasse 111
					Garching, 83333, Germany
					<hr/>
					<div class="titles">EDUCATIONS</div>
					MASTER DEGREE/INFORMATICS
					Technical University of Munich
					2015 - 2017
					<br/><br/>
					BACHELOR DEGREE/INFORMATICS
					Technical University of Munich
					2011 - 2015
					<br/><br/>
					HIGH SCHOOL<br/>
					ST JOHN HIGH SCHOOL
					2008 - 2011
					<hr/>
					<div class="titles">SKILLS</div>
					WEB DEVELOPMENT 6/10
					<br/><br/>
					ANGULAR JS 5/10
					<br/><br/>
					NODE JS 5/10
					<br/><br/>
					WEB DEVELOPMENT 8/10
					<br/><br/>
				</div>
				<div class="col-md-9 right-container">
					<div class="titles">PROFILE</div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur finibus tincidunt. Donec iaculis odio eget nibh sodales fermentum. Pellentesque condimentum neque sit amet lorem sodales, eget interdum ex dictum. Praesent ultricies, dolor eget semper cursus, justo eros facilisis lacus, eget rhoncus lorem nisl sit amet metus. Mauris luctus, erat et sollicitudin elementum, ex nisi consequat dui, id ornare est sem nec ante. Nam laoreet feugiat vulputate. Aliquam eu aliquam leo. Nullam dignissim laoreet risus, at tempor mauris ornare at. Maecenas sit amet metus magna. Cras vel rhoncus ante. Sed fringilla, tortor in dapibus commodo, nibh urna rutrum augue, sit amet efficitur turpis dolor eu nisi.
					<hr/>
					<div class="titles">WORK EXPERIENCES</div>
					
					<div class="work-exp">
						<div class="work-title">WEB DEVELOPER</div>
						<div class="work-subtitle">Company Name / Location / 2015-present</div>
						Nunc dictum ante nec ullamcorper ullamcorper. Morbi bibendum feugiat lectus, a tincidunt lorem ultrices sed. Etiam congue porttitor arcu, ac blandit felis tincidunt non. Integer placerat massa eget ipsum rutrum posuere. Phasellus at elit a nisi rhoncus tincidunt cursus sit amet enim. Aenean a dolor feugiat, rhoncus leo vel, aliquam magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec mollis est vitae finibus fringilla. Etiam laoreet dui non felis egestas mollis. Proin convallis felis nulla, eu tempus purus tempor et. Nullam convallis mi eget elit efficitur pharetra. Praesent sed ligula sit amet neque hendrerit volutpat id vel ante. Sed at nunc a risus scelerisque feugiat.
					</div>
					
					<div class="work-exp">
						<div class="work-title">WEB DEVELOPER</div>
						<div class="work-subtitle">Company Name / Location / 2013-2015</div>
						Aliquam at suscipit urna, non cursus nibh. Sed sodales erat erat, ac gravida nisl ullamcorper quis. Duis nec ipsum ac velit pellentesque faucibus. Quisque at orci ut sem porttitor dignissim id eget nisi. Duis metus nunc, tempus vel aliquam at, fringilla sed nibh. Morbi faucibus condimentum nulla eu convallis. Donec non eros eu mi blandit auctor. Mauris ante risus, consequat id justo sed, tincidunt hendrerit magna.
					</div>
					
					<div class="work-exp">
						<div class="work-title">WEB DEVELOPER</div>
						<div class="work-subtitle">Company Name / Location / 2010-2013</div>
						Pellentesque finibus, nisi sed pulvinar convallis, lectus risus dignissim libero, quis vehicula ex urna id neque. Pellentesque vestibulum placerat enim in lacinia. Vivamus a bibendum felis. Vivamus ac purus lacus. Sed vel turpis orci. In convallis, elit at scelerisque lacinia, enim metus imperdiet orci, et placerat sapien quam accumsan leo. Vestibulum blandit lobortis ante, a facilisis lorem aliquam at. Ut sodales metus ac nulla mattis, ut posuere justo elementum.
					</div>
				</div>
			</div>
            </md-card-content>
        </md-card>
        <span flex></span>
    </md-content>
    <span flex></span>
</div>
