.register-form md-card {
    padding: 0 !important;
}
.register-form md-card md-card-title {
    background-color: blue;
}

.register-form md-input-container:not(.md-input-invalid) > md-icon.email,
.register-form md-input-container:not(.md-input-invalid) > md-icon.name,
.register-form md-input-container:not(.md-input-invalid) > md-icon.phone,
.register-form md-input-container:not(.md-input-invalid) > md-icon.password {
    color: green; }
.register-form md-input-container.md
.register-form md-input-container.md-input-invalid > md-icon.email,
.register-form md-input-container.md-input-invalid > md-icon.name,
.register-form md-input-container.md-input-invalid > md-icon.phone,
.register-form md-input-container.md-input-invalid > md-icon.password {
    color: red; }
