<md-card class="imageCarousel" layout="column" layout-align="start center">
    <div uib-carousel active="$ctrl.active" interval="$ctrl.myInterval" no-wrap="$ctrl.noWrapSlides">
        <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}">
            <div class="carousel-caption">
                <h4>{{slide.text}}</h4>
            </div>
        </div>
    </div>
</md-card>
<md-card-content>
    <h2>About WorkForce</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a felis et justo gravida euismod.
        Phasellus lectus leo, feugiat vitae vulputate at, sodales ac risus. Nam ut metus vestibulum, cursus tortor
        eget, placerat ante. Quisque facilisis nunc arcu, a porttitor nulla rutrum quis. Etiam non laoreet nisl.
        Maecenas quis facilisis tellus. Nunc efficitur erat csed lacus laoreet, eu suscipit quam tempor.
        Duis mauris risus, varius ut convallis at, aliquet tempus eros. Pellentesque consequat lectus nec
        magna tincidunt viverra.</p>
</md-card-content>
</md-card>
