<md-toolbar>
    <div class="md-toolbar-tools">
        <a layout="row">
            <md-icon><ng-md-icon icon="grain" ></ng-md-icon></md-icon>
            <h2>WorkForce</h2>
        </a>
        <span flex></span>
        <span flex="5"></span>
        <md-button ng-click="$ctrl.getNotifications($event)">
            <md-icon md-menu-align-target><ng-md-icon icon="notifications" ></ng-md-icon></md-icon>
            Notifications
        </md-button>
        <md-button ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout($event)">
            <md-icon md-menu-align-target><ng-md-icon icon="account_circle" ></ng-md-icon></md-icon>
            {{$ctrl.getCurrentUser()}}
        </md-button>
        <md-button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login()">
            <md-icon md-menu-align-target><ng-md-icon icon="login" ></ng-md-icon></md-icon>
            Login
        </md-button>
        <md-button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.register()">
            <md-icon md-menu-align-target><ng-md-icon icon="person_add" ></ng-md-icon></md-icon>
            Register
        </md-button>
    </div>
</md-toolbar>
